<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*Template Header Files*@
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/Login_Template/")/mages/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Login_Template/")vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Login_Template/")fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Login_Template/")fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Login_Template/")vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Login_Template/")vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Login_Template/")vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Login_Template/")css/util.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Login_Template/")css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div>
        @RenderBody()
    </div>
</body>
<!--===============================================================================================-->
<script src="@Url.Content("~/Content/Login_Template/")vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="@Url.Content("~/Content/Login_Template/")vendor/bootstrap/js/popper.js"></script>
<script src="@Url.Content("~/Content/Login_Template/")vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="@Url.Content("~/Content/Login_Template/")vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="@Url.Content("~/Content/Login_Template/")js/main.js"></script>
</html>
